
//////////////////////////////////////////////////////////////////////////
//
//
//             Variables Couleurs
//
//
//////////////////////////////////////////////////////////////////////////

$black: #000;
$white: #fff;

$primary: #b4eba6; 
//$primary: #325235; 
$secondary: rgb(255, 147, 108);
//$secondary: #23be99;
$tertiary: rgba(255,154,209,1);
$success: #a6eba9; 
$danger: #fc8e8e; 
$warning: #ffbc3e;
$info: #5aa5ff; 
$pink: #FBCEEA;