
.custom-badge{
    display: block;
    width: fit-content;
    padding: 2px 7px;
    margin-bottom: 10px;
    color: white;
    font-size: 15px;
    border-radius: 15px;

    &-danger{
        background-color: $danger;
    }

    &-success{
        background-color: $success;
    }

    &-warning{
        background-color: $warning;
    }

    &-info{
        background-color: $info;
    }

    &-pink{
        background-color: $pink;
    }

    &-primary{
        background-color: $primary;
        border: 2px solid $primary;

        &-outline{
            background-color: $white;
            border: 2px solid $primary;
            color: $primary;
        }
    }
    
    &-secondary{
        background-color: $secondary;
        border: 2px solid $secondary;

        &-outline{
            background-color: $white;
            border: 2px solid $secondary;
            color: $secondary;
        }
    }
}