.tag-input {
    $inputH: 38px;

    display: block;
    box-sizing: border-box;
    width: 100%;
    height: $inputH;
    padding: 0 10px;
    font-size: 0.9em;
    border: 1px solid lightgray;
    border-radius: 5px;

    &__tag{
        $tagH : 20px;

        float: left;
        height: $tagH;
        margin-top: 10px;
        margin-right: 10px;
        padding: 0 5px;
        color: black;
        background-color: #eee;
        line-height: $tagH;
        border-radius: 5px;

        & > span{
            cursor: pointer;
            opacity: 0.75;
        }
    }

    &__text{
        background: none;
        border: none;
        outline: none;
        font-size: 0.9em;
        line-height: $inputH;
    }
}