$colorOrange: #FFB74D
$colorGreen: #9CCC65
/*#9CCC65*/

:export  
  greenExport: $colorGreen
  orangeExport: $colorOrange


$font-family: 'Mansalva', cursive

.opacity-define
    opacity: 0.85

.cardmargin
  margin: 10px
  padding: 10px

.colorbtnGreen
  color: white !important
  background-color: $colorGreen !important

.colorbtnOrange
  color: white !important
  background-color: $colorOrange !important

.text-field-width
  width: 100px

